/* You can add global styles to this file, and also import other style files */
/* html{
    display: flex;
    height: 100%;
} */

.p-toolbar{
    background-color: #003D9D;
}

.titulo-card{
    padding-bottom: 30px;
    font-size: 1.3rem;
}

