<div class="p-grid">
    <div class="p-lg-3">
        <div class="cartao p-d-flex p-flex-column p-ai-center p-jc-center">
            <div class="topo">
                50
            </div>
            <div class="conteudo">
                Clientes cadastrados
            </div>
        </div>
    </div>

    <div class="p-lg-3">
        <div class="cartao p-d-flex p-flex-column p-ai-center p-jc-center">
            <div class="topo">
                50
            </div>
            <div class="conteudo">
                Clientes cadastrados
            </div>
        </div>
    </div>

    <div class="p-lg-3 ">
        <div class="cartao p-d-flex p-flex-column p-ai-center p-jc-center">
            <div class="topo">
                50
            </div>
            <div class="conteudo">
                Clientes cadastrados
            </div>
        </div>
    </div>

    <div class="p-lg-3 ">
        <div class="cartao p-d-flex p-flex-column p-ai-center p-jc-center">
            <div class="topo">
                50
            </div>
            <div class="conteudo">
                Clientes cadastrados
            </div>
        </div>
    </div>
</div>

