<p-toolbar>
    <div class="p-toolbar-group-left">
        <img src="../../assets/img/logo-semfundo.png" height="50px" alt="Logo Java Gás">
        <span class="titulo-nav p-ml-6">Início</span>
    </div>
    <div class="data-atual p-ml-auto p-mr-auto">
        Quinta Feira, 17 de Setembro de 2020
    </div>

    <div class="p-toolbar-group-right login-user">
        <fa-icon [icon]="faUserCircle" class="tamanho-icone"></fa-icon>
        <span class="p-ml-1">Ricardo Alves Roberto</span>
    </div>
</p-toolbar>